/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/



/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 20px; }
body {
  font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.4;
  font-weight: 500;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  background: #fff;

}
.wrap-1{
  padding: 50px 10% 0 10%;

}
.section{
  box-shadow: rgba(0,0,0,0.3) 0 30px 100px 0;
  border-radius: 8px;

}
.section-content{
  padding:80px;
}
.wrap-3{
  background-size: cover;
  position: relative;
  padding: 70px 0;
  height: calc(90vh - 80px);
  border-radius: 8px;
}
.wrap-3 h1,h2,h3,h4,p,a,li,span{
  position:relative;
  z-index: 99;
}
.main-wrap:after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  content: '';
  transition: all 1s;
  background: rgba(238,114,71,0.6);
  border-radius: 8px;

}
.main-wrap{
  background: url('https://images.unsplash.com/photo-1471038688616-61af8a9255b0?dpr=1&auto=compress,format&fit=crop&w=1951&h=&q=80&cs=tinysrgb&htn=2&blend=EE7247&balph=100&bri=10') center center;
  box-shadow: inset 0 0 0 40px rgba(0,0,0,0.7);

}
.outbound-wrap{
  background: url('https://images.unsplash.com/photo-1493799228497-1c99e413459b?dpr=1&auto=compress,format&fit=crop&w=1950&h=&q=80&cs=tinysrgb&htn=2&blend=e98b58&balph=100') center center;
  box-shadow: inset 0 0 0 40px rgba(233, 139, 88,0.6);
}
.van-wrap{
  background: url('https://images.unsplash.com/photo-1486330071120-ba4e79e49431?dpr=1&auto=compress,format&fit=crop&w=1955&h=&q=80&cs=tinysrgb&htn=2&blend=EE7247&balph=100') center bottom;
  box-shadow: inset 0 0 0 40px rgba(0,0,0,0.7);

}
.van-wrap:after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  content: '';
  transition: all 1s;
  background: rgba(238,114,71,0.6);
  border-radius: 8px;

}
.para-wrap{
  background-color: #4e84a8;
  background: url('https://images.unsplash.com/photo-1489877544105-f56e54296592?dpr=1&auto=compress,format&fit=crop&w=1952&h=&q=80&cs=tinysrgb&htn=2&blend=4e84a8&balph=100&bri=10') center center;
  box-shadow: inset 0 0 0 40px rgba(78, 132, 168, 0.6);
}
.para-wrap:after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  content: '';
  transition: all 1s;
  background: rgba(78, 132, 168, 0.6);
  border-radius: 8px;

}
.nav{
  text-align:center;
  padding-top: 50px;
}

.nav a{
  color: #131313;
  margin-right: 40px;
  font-size: 18px;
}
.nav a:last-child{
  margin-right: 0px;
}
a.logos{
  background: linear-gradient(135deg, #f28b41 0%,#de5837 40%,#af5f31 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .7rem;
  font-weight: 900;
  font-family: Rubik; }
h1 { font-size:70px; line-height: 1.1;  letter-spacing: -.1rem;}
h2 { font-size: 1.6rem; line-height: 1.1;  }
h3 { font-size: 1.3rem; line-height: 1.3;  }


/* Larger than phablet */
@media (min-width: 1500px) {
  h1 { font-size: 150px; }
  h2 { font-size: 70px; font-weight: 700; }
  h3 { font-size: 1rem; }
}

@media (max-width: 1500px) {
  h1 { font-size: 100px; }
  h2 { font-size: 70px; font-weight: 700; }
}
@media (max-width: 1024px) {
  h1 { font-size: 70px; }
  h2 { font-size: 70px; font-weight: 700; }
  .wrap-1{ padding: 10px; }
}
@media (max-width: 768px) {
  h1 { font-size: 60px; }
  h2 { font-size: 40px; font-weight: 700; }
  .section-content{
    padding: 0px;
  }
  .main-wrap{
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
  }
  .outbound-wrap{
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
  }
  .van-wrap{
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
  }
  .para-wrap{
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
  }
  .wrap-3{
    height: auto;
    text-align: center;
  }
  .nav a{
    font-size: 15px;
    font-weight: 600;
  }

}
@media (max-width: 480px) {
  h1 { font-size: 40px; }

}

p {
  margin-top: 0; }
p.small{
  font-size: 15px;
  line-height: 1.7;
}

.text-center{
  text-align: center;
}
.text-small{
  font-size: 14px;
}

.logo{
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 200;
  display: inline-block;
  -webkit-box-shadow: inset 0px -3px 0px 0px #ffb566;
    -moz-box-shadow: inset 0px -3px 0px 0px #ffb566;
    box-shadow: inset 0px -3px 0px 0px #ffb566;
    margin-bottom: 30px;

}
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #00aeef;
  text-decoration: none;
}
a:hover {
  color: #0b9dd3;
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: .05rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: #70c1b3;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 3px rgba(197,197,197,.1);
    box-shadow: 0 2px 3px rgba(197,197,197,.1);
  cursor: pointer;
  box-sizing: border-box; }

.button:hover{
  transition: all .1s ease-in-out;
  color: #fff;
}

.button.wide{
  width: 100%;
}
.button.jumbo{
  height: 80px;
  line-height: 80px;
  font-size: 24px;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: disc inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


.fr                           { float:right; }
.fl                           { float:left; }
.fc                           { overflow: auto; }

/*=== Padding Scale ===*/

.pad00  { padding:0px !important; }
.pad0  { padding:5px; }
.pad0b { padding-bottom: 0px !important; }
.pad0y { padding-top:5px; padding-bottom:5px; }
.pad0x { padding-right:5px; padding-left:5px; }
.pad0r { padding-right:0px !important; }

.pad1    { padding:10px;  }
.pad2    { padding:20px;  }
.pad3    { padding:30px;  }
.pad4    { padding:40px;  }
.pad7    { padding:70px;  }
.pad8    { padding:80px;  }
.pad10   { padding:100px; }
.pad12   { padding:120px; }

.pad1x { padding-left: 10px; padding-right: 10px; }
.pad1x5x { padding-left: 15px; padding-right: 15px; }
.pad2x { padding-left: 20px; padding-right: 20px; }
.pad3x { padding-left: 30px; padding-right: 30px; }
.pad4x { padding-left: 40px; padding-right: 40px; }
.pad5x { padding-left: 50px; padding-right: 50px; }
.pad7x { padding-left: 70px; padding-right: 70px; }
.pad8x { padding-left: 80px; padding-right: 80px; }

@media (max-width: 480px){
.mob-pad00 { padding-left: 0px !important; padding-right: 0px !important;}
.mob-pad1x { padding-left: 10px !important; padding-right: 10px !important;}
.mob-pad2x { padding-left: 20px !important; padding-right: 20px !important;}
.mob-pad2y { padding-top: 20px !important; padding-top: 20px !important;}
.mob-pad3  { padding: 30px !important;}
}

.pad1y { padding-top: 10px; padding-bottom: 10px; }
.pad2y { padding-top: 20px; padding-bottom: 20px; }
.pad3y { padding-top: 30px; padding-bottom: 30px; }
.pad4y { padding-top: 40px; padding-bottom: 40px; }
.pad8y { padding-top: 80px; padding-bottom: 80px; }

.pad0t { padding-top: 5px;  }
.pad1t { padding-top: 10px; }
.pad15t{ padding-top: 15px; }
.pad2t { padding-top: 20px; }
.pad25t{ padding-top: 25px; }
.pad3t { padding-top: 30px; }
.pad4t { padding-top: 40px; }
.pad5t { padding-top: 50px; }
.pad8t { padding-top: 80px; }
.pad150t { padding-top: 150px; }

.pad00b{ padding-bottom: 0px !important;  }
.pad1b { padding-bottom: 10px; }
.pad2b { padding-bottom: 20px; }
.pad3b { padding-bottom: 30px; }
.pad4b { padding-bottom: 40px; }
.pad5b { padding-bottom: 50px; }
.pad7b { padding-bottom: 70px; }
.pad8b { padding-bottom: 80px; }

.pad2l { padding-left: 20px }
.pad3l { padding-left: 30px }
.pad8l { padding-left: 80px }

.pad2r { padding-right: 20px }
.pad3r { padding-right: 30px }
.pad8r { padding-right: 80px;}
.p10y15x{ padding: 10px 15px !important; }

/*=== Margin Scale ===*/
.m00 { margin: 0px auto !important; list-style-type: none; }
.m0  { margin:5px; }
.m0r { margin-right: 5px;}
.m0y { margin-top:5px; margin-bottom:5px; }
.m0x { margin-right:5px; margin-left:5px; }

.m1    { margin:10px; }
.m2    { margin:20px; }
.m4    { margin:40px; }
.m8    { margin:80px; }

.m00x{ margin-left: 0px !important;  margin-right: 0px !important;}

.m1x { margin-left: 10px; margin-right: 10px; }
.m2x { margin-left: 20px; margin-right: 20px; }
.m4x { margin-left: 40px; margin-right: 40px; }
.m8x { margin-left: 80px; margin-right: 80px; }

.m00l{ margin-left: 0px !important; }
.m1l { margin-left: 10px; }
.m2l { margin-left: 20px; }
.m4l { margin-left: 40px; }
.m8l { margin-left: 80px; }

.m1r { margin-right: 10px; }
.m2r { margin-right: 20px; }
.m3r { margin-right: 30px; }
.m4r { margin-right: 40px; }
.m8r { margin-right: 80px; }

.m0t { margin-top: 5px;  }
.m1t { margin-top: 10px; }
.m2t { margin-top: 20px; }
.m3t { margin-top: 30px; }
.m4t { margin-top: 40px; }
.m8t { margin-top: 80px; }

.m00b{ margin-bottom: 0px;  }
.m0b { margin-bottom: 5px;  }
.m1b { margin-bottom: 10px; }
.m2b { margin-bottom: 20px; }
.m3b { margin-bottom: 30px; }
.m4b { margin-bottom: 40px; }
.m8b { margin-bottom: 80px; }

.m1y { margin-top: 10px; margin-bottom: 10px; }
.m2y { margin-top: 20px; margin-bottom: 20px; }
.m3y { margin-top: 30px; margin-bottom: 30px; }
.m4y { margin-top: 40px; margin-bottom: 40px; }
.m5y { margin-top: 50px; margin-bottom: 50px; }
.m8y { margin-top: 80px; margin-bottom: 80px; }

@media (max-width: 480px){
.mob-m2t { margin-top: 20px !important;}
}

/*=== Z-Index Scale ===*/

.z1 { z-index: 100; }
.z2 { z-index: 200; }
.z3 { z-index: 300; }
.z4 { z-index: 400; }
.z5 { z-index: 500; }
.z6 { z-index: 600; }
.z7 { z-index: 700; }
.z8 { z-index: 800; }
.z9 { z-index: 900; }
.z10 { z-index: 1000; }


/*== Opacity Helper ==*/

.op2{ opacity:0.6; }
.op4{ opacity:0.6; }
.op6{ opacity:0.6; }
.op8{ opacity:0.8; }
.flush{
  margin: 0px !important;
  padding: 0px !important;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 550px) {
  .button.jumbo{
  font-size: 14px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

