
h1{
  font-size: 50px;
}

.about h1{
  color: #131313;
}
.about p{
  color: #131313;
  opacity: 0.8;
}

.case-study-wrap h3{
    font-size: 24px;
  }
.case-study-wrap img{
      box-shadow: 4px 0 20px rgba(0,0,0,0.14);

}
.case-study-wrap p{
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.8;
}
  img{
  }
}
